Organizations:
    - &OrdererOrg
        Name: OrdererOrg
        ID: OrdererMSP
        MSPDir: organizations/ordererOrganizations/example.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrdererMSP.member')"
            Writers:
                Type: Signature
                Rule: "OR('OrdererMSP.member')"
            Admins:
                Type: Signature
                Rule: "OR('OrdererMSP.admin')"
        OrdererEndpoints:
            - orderer.example.com:7050

    - &Railway
        Name: RailwayMSP
        ID: RailwayMSP
        MSPDir: organizations/peerOrganizations/railway.example.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('RailwayMSP.admin', 'RailwayMSP.peer', 'RailwayMSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('RailwayMSP.admin', 'RailwayMSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('RailwayMSP.admin')"
            Endorsement:
                Type: Signature
                Rule: "OR('RailwayMSP.peer')"

    - &Airway
        Name: AirwayMSP
        ID: AirwayMSP
        MSPDir: organizations/peerOrganizations/airway.example.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('AirwayMSP.admin', 'AirwayMSP.peer', 'AirwayMSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('AirwayMSP.admin', 'AirwayMSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('AirwayMSP.admin')"
            Endorsement:
                Type: Signature
                Rule: "OR('AirwayMSP.peer')"

    - &Bus
        Name: BusMSP
        ID: BusMSP
        MSPDir: organizations/peerOrganizations/bus.example.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('BusMSP.admin', 'BusMSP.peer', 'BusMSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('BusMSP.admin', 'BusMSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('BusMSP.admin')"
            Endorsement:
                Type: Signature
                Rule: "OR('BusMSP.peer')"

Capabilities:
    Channel: &ChannelCapabilities
        V3_0: true
    Orderer: &OrdererCapabilities
        V2_0: true
    Application: &ApplicationCapabilities
        V2_5: true

Application: &ApplicationDefaults
    Organizations:
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
        LifecycleEndorsement:
            Type: ImplicitMeta
            Rule: "MAJORITY Endorsement"
        Endorsement:
            Type: ImplicitMeta
            Rule: "MAJORITY Endorsement"
    Capabilities:
        <<: *ApplicationCapabilities

Orderer: &OrdererDefaults
    OrdererType: etcdraft
    EtcdRaft:
        Consenters:
        - Host: orderer.example.com
          Port: 7050
          ClientTLSCert: organizations/ordererOrganizations/example.com/orderers/orderer.example.com/tls/server.crt
          ServerTLSCert: organizations/ordererOrganizations/example.com/orderers/orderer.example.com/tls/server.crt
    BatchTimeout: 2s
    BatchSize:
        MaxMessageCount: 10
        AbsoluteMaxBytes: 99 MB
        PreferredMaxBytes: 512 KB
    Organizations:
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
        BlockValidation:
            Type: ImplicitMeta
            Rule: "ANY Writers"

Channel: &ChannelDefaults
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
    Capabilities:
        <<: *ChannelCapabilities

Profiles:
    TicketingNetworkGenesis:
        <<: *ChannelDefaults
        Orderer:
            <<: *OrdererDefaults
            Organizations:
                - *OrdererOrg
            Capabilities:
                <<: *OrdererCapabilities
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *Railway
                - *Airway
                - *Bus
            Capabilities:
                <<: *ApplicationCapabilities